# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# MLflow
mlruns/
mlflow.db

# Models (no subir binarios)
models/*.h5
models/*.pkl
models/*.joblib

# Data
data/raw/
data/processed/

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp
